<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>File:</strong>
  <%= link_to "Download", @document.file.url(:original) %>
</p>

<p>
  <strong>E-sign</strong>
  <%= link_to "eSign", e_sign_document_path(@document) %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
